body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #86A6A3;
    color: #000000;
}
#element1
{
    display: inline-block;
    vertical-align: top;
    margin-top: 90px;
    alignment: left;
    width: 25%;
}

#element2
{
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    horiz-align: right;
    width: auto;
    position: fixed;
    right: 0;
    margin-right: 5px;
}

