<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style.css" rel="stylesheet" type="text/css">
<title>Forgot Password</title>
</head>
<body>
    <div id="element1">
        <p>Forgot Password</p>
        <p>Please enter your email address below:</p>
        <form method="post">
            <input type="text" name="email" placeholder="Enter email here!">
            <div id="element4">
                <p>{{incorrect}}</p>
            </div>
        <input type="submit" value="Submit" name="forgotPassEmail">
        </form>
    </div>
    <div id="element2">
        <form method="post">
            <input type="submit" value="Home" name="homePage" >
        </form>

    </div>
</body>
</html>