<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style.css" rel="stylesheet" type="text/css">
<title>EE368 Project</title>
</head>
<body>
    <div id="element1">
        <p>Welcome to application</p>
    </div>

    <div id="element2" class="container">

        <form method="post">
<!--{#            <button name="login" >Login</button>#}-->
<!--{#            <button name="signup" >Signup</button>#}-->
            <input type="submit" value="User Info" name="userInfoPage" >
            <input type="submit" value="Log in" name="loginPage" >
            <input type="submit" value="Sign up" name="signupPage" >

        </form>

    </div>



</body>
</html>