<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="../static/style.css" rel="stylesheet" type="text/css">
<title>Sign Up Screen</title>
</head>
<body>
    <div id="element1">
        <p>Welcome to sign-up</p>
        <form method="post">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="email2" placeholder="Confirm email">
            <input type="password" name="password"  placeholder="Password">
            <input type="password" name="password2"  placeholder="Confirm password">
            <datalist id="secure">
                <option value="What is your mother's maiden name?">
                <option value="What street did you grow up on?">
                <option value="What town were you born in?">
            </datalist>
            <input name="secureList" list="secure" placeholder="Select Security Question">
            <input type="text" name="secureAnswer" placeholder="Security Question Answer">
            <input type="submit" name="signup" value="Sign up">

        </form>
    </div>
<div id="element2">
    <form method="post">
        <input type="submit" value="Log in" name="loginPage" >
        <input type="submit" value="Home" name="homePage">
    </form>
</div>
</body>
</html>